body {
  background-color: whitesmoke;
}

#tableContainer {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

td {
  width: 25px;
  height: 25px;
  padding: .5px;
  background-color: skyblue;
  display: table-cell;
  align-items: center;
  cursor: pointer;
}

td:hover {
  display: block;
  width: 100%;
  background-color: red;
}

.red { background-color: red; }
